<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
        
    <title>{{title}}</title>
    <style>
        *{
            ::selection{
                color: aliceblue;
                background-color: red;
            }
        }
        body{
            background-color: rgb(22, 0, 0);
            color: aliceblue;
        }
        /* #text1{
            position: absolute;
            z-index: 100;
            const x:0;
        } */
#marq{
    font-size: 15rem;
    color: white;
    position: absolute;
top: 10%;
    opacity: 0.44;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#text1{
    color:rgb(255, 255, 255);
    z-index: 100;
    font-size: 5rem;
    /* position: absolute; */
    font-family: 'Press Start 2P';
    margin-left: 3%;
    /* top: 0; */
}
#text2{
    color:rgb(255, 255, 255);
    z-index: 100;
    font-size: 5rem;
    position: absolute;
    right: 10%;
    margin-top: 3%;
    font-family: 'Press Start 2P';
    margin-left: 3%;
    /* top: 0; */
}
#text3{
    color:rgb(255, 255, 255);
    z-index: 100;
    font-size: 5rem;
    position: absolute;
    right: 30%;
top:45%;
    margin-top: 3%;
    font-family: 'Press Start 2P';
    /* margin-left: 3%; */
    /* top: 0; */
}
#navbar li{
    font-family: 'Press Start 2P';font-size: 22px;
    display: inline-block;
    color: white;
    margin: 0%;
    font-size: 1.5rem;
    padding: 0%;
    list-style: none;
}
.login{
    background-color: aliceblue;
    color: rgb(0, 0, 18);
    padding-top: 10px;
    padding-left: 3px;
    padding-bottom: 10px;
    border: solid blue;
}

.li:hover{
    

cursor: pointer;
    opacity: 0.5;
    transform: translateY(10px);
    box-shadow: 10px 10px 5px white;
}
.li:active{
   

    transform: translateY(30px);
    box-shadow: 10px 10px 5px white;
}
#imgcodeboy{
    position: absolute;
    bottom: 8%;
    left: 5%;
    /* border-style:dashed;
    border-color: aliceblue;  */
}
#boydesign{
    position: absolute;
    bottom: 8%;
    right: 5%;
    opacity: 0.8;
}
/* #socials{
    position: absolute;
    bottom: 10%;
    left: 5%;

} */
    </style>
</head>
<body>
<nav>
    <div>
<ul id="navbar">
    <li style="margin-right: 30px;"> <img src="images/privacy.png" width="50px" height="50px"> </li>
    <li class="li" style="margin: 20px;" ><a>home</a></li>
    <li class="li"  style="margin: 20px;"><A>about</A></li>
    <li class="li"  style="margin: 20px;"><a>Services</a></li>
    <li class="li"  style="margin: 20px;"><a>Contact</a></li>
    <li class="li"  style="margin-left: 18rem;"><a class="login" href="/login">login</a></li>
    <li class="li"  style="margin-left: auto"><a class="login" href="/signup">Signup</a></li>
</ul>


</div>
</nav>
<BR><BR>
<div id="text1">  A CODING APP  <br> </div>
    <div id="marq"><marquee>BLACK HAT JR 🎓</marquee></div>
 
    <div id="text2">  that Doesnt <br> </div>
    <div id="text3">  Suck<br> </div>
    <!-- <div id="socials">
    <a href="https://www.linkedin.com/in/rahulsinghhh2312/" target="_blank"><img alt="LinkedIn" width="35px" src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png"></a> &nbsp&nbsp&nbsp
    <a href="https://www.instagram.com/rrahulol/" target="_blank"><img alt="Instagram" width="35px" src="https://cdn-icons-png.flaticon.com/512/1384/1384063.png"></a> &nbsp&nbsp&nbsp
    <a href="mailto:rahulsinghhh2312@gmail.com" target="_blank"><img alt="Gmail" width="35px" src="https://cdn-icons-png.flaticon.com/512/5968/5968534.png"></a>&nbsp&nbsp&nbsp
</div> -->
    <img id="boydesign" src="images/hi.png" width="30%">
    <img id="imgcodeboy" src="https://user-images.githubusercontent.com/5713670/87202985-820dcb80-c2b6-11ea-9f56-7ec461c497c3.gif" width="20%">
</body>
</html>