<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel='stylesheet' href="/stylesheets/style.css">
</head>
<body>
    <div class ="container">
    <div class="top"></div>
    <div class="left"></div>
    <h1 id="title">BlackHat junior🎓</h1>
    <h2 id="formtitle">{{title}}</h2>
    <div class="center">
    <form action="/signup" method="post">
       <input type="email" name="email1" value="email" placeholder="Enter ur email <3"/><Br>
       <input type="password" name="pass1" value="password" placeholder="password"/><br>
       <input type="checkbox"><label>Accept Terms and Condition</label><br>
       <button id="submit" type="submit">submit</button>
       
       
     </form>
     <div id="link"><a href="/signup">signup</a> &nbsp; &nbsp;{{error}} &nbsp; &nbsp;&nbsp; <a href="#">forgot password?</a></div>
   
       
    </div>
    <div class="right"></div>
    <div class="bottom"></div>
    </div>
  
</body>
</html>